<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mydacha2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACTION_CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/point_mac_logo_12332"
        android:label="@string/app_name"
        android:roundIcon="@drawable/point_mac_logo_12332"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyDacha2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".myActivity.TwoSwitch"
            android:exported="false" />
        <activity
            android:name=".myActivity.OneSwitch"
            android:exported="false" />
        <activity
            android:name=".myActivity.ListControlPointActivity"
            android:exported="false" />
        <activity
            android:name=".myActivity.AddObjectControlWithControlPoint"
            android:exported="false" />
        <activity
            android:name=".myActivity.ManagementObject"
            android:exported="false" />
        <activity
            android:name=".myActivity.AddControlPointActivity"
            android:exported="false" />
        <activity
            android:name=".myActivity.ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".myActivity.AddObjectActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/button_main" />
        <meta-data
            android:name="androidx.room.RoomDatabase.NAME"
            android:value="db_myDacha" />

        <activity
            android:name=".myActivity.ConnectWiFi"
            android:exported="false" />
        <activity
            android:name=".myActivity.MyObject"
            android:exported="false" />
        <activity
            android:name=".myActivity.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>